<mat-toolbar>
  <div *ngIf="isLogged$; else login" class="teste">
    <span routerLink="/home">Meu <span class="title">banco</span></span>

    <button routerLink="/minha-conta" mat-raised-button class="botao--flex">
      <mat-icon class="user"> account_circle </mat-icon>
      <span class="dinheiro">R$</span>
      {{ user$.conta.saldo }}
    </button>

    <div class="actions">
      <button class="transacao" mat-raised-button color="primary" routerLink="nova-transacao">
        Fazer transação
      </button>
      <button class="logout" mat-raised-button color="warn" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>

  <ng-template #login>
    <span class="centralizar" routerLink="/home">Meu <span class="title">banco</span></span>
  </ng-template>
</mat-toolbar>
