<mat-toolbar>
  <div *ngIf="isLogged$; else login" class="teste">
    <span routerLink="/home">Meu <span class="title">banco</span></span>

    <button routerLink="/minha-conta" mat-raised-button class="botao--flex">
      
      <mat-icon class="user"> account_circle </mat-icon>
      <div *ngIf="!isAuthenticated$">
        
        <span class="dinheiro"></span>
        {{ user$.conta.saldo | currency:'BRL':true }}
      </div>

    </button>

    <div class="actions">
      <div *ngIf="isAuthenticated$; else naoAutenticado" >
      
        <button class="transacao" mat-raised-button color="primary" routerLink="/admin"> Area administrativa</button>
      
    </div>

      <button class="logout" mat-raised-button color="warn" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>

  <ng-template #login>
    <span class="centralizar" routerLink="/home">Meu <span class="title">banco</span></span>
  </ng-template>

  
  <ng-template #naoAutenticado>
    <button class="transacao" mat-raised-button color="primary" routerLink="nova-transacao">
      Fazer transação
    </button>
  </ng-template>
  
</mat-toolbar>


