<div id="fatura">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi molestias, consequatur, maxime totam aperiam delectus repellendus voluptatum necessitatibus accusamus iste, perspiciatis velit quas temporibus. Velit voluptatem veritatis alias. Enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi molestias, consequatur, maxime totam aperiam delectus repellendus voluptatum necessitatibus accusamus iste, perspiciatis velit quas temporibus. Velit voluptatem veritatis alias. Enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi molestias, consequatur, maxime totam aperiam delectus repellendus voluptatum necessitatibus accusamus iste, perspiciatis velit quas temporibus. Velit voluptatem veritatis alias. Enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi molestias, consequatur, maxime totam aperiam delectus repellendus voluptatum necessitatibus accusamus iste, perspiciatis velit quas temporibus. Velit voluptatem veritatis alias. Enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi molestias, consequatur, maxime totam aperiam delectus repellendus voluptatum necessitatibus accusamus iste, perspiciatis velit quas temporibus. Velit voluptatem veritatis alias. Enim.</p>
</div>


<button (click)="gerarPDF()">
    TESTE
</button>
