.select-container {
   box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:    center;
  }
  
  .total-value {
    width: auto;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }

  mat-form-field{
    width: auto;
  }
  
  .table-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .transaction-table {
    width: 90%;
    border-collapse: collapse;
  }
  
  .table-header {
    background-color: #f0f0f0;
  }
  
  .table-cell {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: start;
  }

  .transaction-deposit {
    color: green;
  }
  
  .transaction-withdrawal,
  .transaction-transfer {
    color: red;
  }


  

  .print-body {
    font-family: Arial, sans-serif;
    color: #f80202;
    background-color: #000000;
  }
  
  .print-body table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .print-body th, .print-body td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .print-body th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  @media print {
    body {
      font-family: Arial, sans-serif;
      color: #ff0909;
      background-color: #fff;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
  }

  /* #fatura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
  } */

  .title {
    color: orangered;
    font-size: 30px;
    text-decoration:line-through;
}

.banco, .title {
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}