.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    border-radius: 50%;
   border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);  
    height: 200px;
    
}

.conteudo-container {
   
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    width: 65%;
    
    
}

.titles {
    color: orangered;
    font-size: 60px;
    text-decoration:line-through;
}

h2 {
    color: rgb(255, 255, 255);
    font-weight: 100;
    text-transform: uppercase;
    font-size: 60px;
}

