

<mat-card class="container">
  <mat-card-content class="container-conteudo">
    <span class="login">AREA DE LOGIN</span>
    <mat-card>
    <form [formGroup]="formUser">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="identifier">
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password">
          </mat-form-field>
    
          <button (click)="login()" mat-raised-button color="warn">ENTRAR</button>

          <div class="actions">
            <a class="cadastro" routerLink="/cadastro"> CRIAR CONTA</a>
            <a class="cadastro" routerLink="/esqueceu-senha"> ESQUECEU SENHA?</a>
          </div>
    </form>
  </mat-card>
  </mat-card-content>
</mat-card>
