<mat-card>
  <button mat-raised-button routerLink="/fatura" >VER FATURA</button>
  <div class="container">
    <div class="container-conteudo">
      <table  class="styled-table">
        <thead>
          <tr >
            <th>ID</th>
            <th>Valor</th>
            <th>Tipo de transação</th>
            <th>Data da transação</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let transacao of transacoes"
            [ngClass]="{
              up: transacao.attributes.tipo === 'DEPÓSITO',
              down: transacao.attributes.tipo === 'SAQUE'
            }"
          >
            <td>{{ transacao.id }}</td>
            <td>{{ transacao.attributes.valor | currency : "BRL" : true }}</td>
            <td>{{ transacao.attributes.tipo }}</td>
            <td>
              {{
                transacao.attributes.createdAt | date : "dd/MM/yyyy, HH:mm:ss"
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
