

.teste {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
      
}

h1 {
   font-weight: bold; 
}

span {
    color: orangered;
}


.orange-clip-path {
    background-color: tomato;
    opacity: 30%;
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    height: 20vh;
    left: 0;
    bottom: 5%;
    z-index: -1;
    position: absolute;
    
}


.grey-clip-path {
    background-color: rgb(146, 144, 144);
    opacity: 10%;
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    height: 20vh;
    right: 0;
    top: -10%;
    z-index: -1;
    position: absolute;
    
}






/* 
@keyframes ripple {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

.purple-clip-path {
    clip-path: circle(50% at 50% 50%);
    background-color: purple;
    width: 500px;
    height: 500px;
    right: -20%;
    top: -10%;
    position: absolute;
    z-index: -1;
    
} */