

.teste {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
      
}

h1 {
   font-weight: bold; 
}

span {
    color: tomato
}




/* Estilos para a seta para baixo */
.arrow.down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .scroll-downs {
    position: absolute;
    bottom: 35%;
    left: 49%;
    width: 40px;
    height: 60px;
    margin-left: -20px;
    text-align: center;
    font-size: 20px;
  }
  
  .mousey {
    width: 3px;
    padding: 1px 10px;
    height: 35px;
    border: 2px solid white;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: white;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }