<div class="teste">
    <h1 style="font-size: 50px;">Bem-vindo <span>{{this.user$.username}} </span></h1>
   
    
    
    
 
    <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller">

            <i class="arrow down"></i>
            
          </div>
        </div>
        <div class="mousey"  >
            <div class="scroller">
              <i class="arrow down" ></i>
            </div>
          </div>
      </div>

  
</div>

<span></span>


<section style="background-color: black;">
  <app-shopping ></app-shopping>
  
  <app-produtos>
    

  </app-produtos>
</section>