<mat-card style="height: 100%; margin-top: 50px; display: flex; justify-content: center; align-items: center; height: 80%; box-shadow: none;">
    <mat-card  style="width: 100%; height: 100%;">
        
            <h1 style="text-align: center; margin-bottom: 5%;color: rgb(153, 152, 152); font-weight: bold;">Resumo das faturas de <span style="font-weight: bold; color: tomato; font-size: 35px;">{{this.usuarioAtivo.username}}</span></h1>
            <mat-card-content style="width: 100%; display: flex; flex-direction: column; align-items: center;">
              <div class="select-container">
                <mat-form-field appearance="fill">
                  <mat-label>Selecione o mês</mat-label>
                  <mat-select id="day-select"  (selectionChange)="filterTransactions($event.value)">
                    <mat-option *ngFor="let day of [4, 5]" [value]="day">{{ day }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span class="total-value">Total: {{ totalValue | currency:"BRL" }}</span>
              </div>
        
              <div class="table-container">
                <table class="transaction-table">
                    <thead>
                      <tr class="table-header">
                        <th class="table-cell">Data</th>
                        <th class="table-cell">Tipo de Transação</th>
                        <th class="table-cell">Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let transacao of transacao$">
                        <td class="table-cell">{{ transacao.createdAt | date: "dd/MM/YYYY"}}</td>
                        <td class="table-cell" [ngClass]="{
                          'transaction-deposit': transacao.tipo === 'DEPÓSITO',
                          'transaction-withdrawal': transacao.tipo === 'SAQUE',
                          'transaction-transfer': transacao.tipo === 'TRANSFERÊNCIA'
                        }">{{ transacao.tipo }}</td>
                        <td class="table-cell">{{ transacao.valor | currency: "BRL"}}</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
        </mat-card-content>
        <button (click)="teste()" mat-raised-button style="width: 35%; align-self: center; margin-top: 3%;">IMPRIMIR FATURA</button>
    </mat-card>
    
    </mat-card>